form {
  display: flex;
  flex-direction: column;
  width: 33%;
  height: 300px;
  justify-content: center;
  align-content: center;
  align-items: center;
}

h3 {
  text-align: center;
}

ul {
  padding: 0;
  list-style-type: none;
}

label {
  margin-left: 3px;
}

.submit-btn:disabled {
  background: lightgray;
  color: gray;
}
