.signed-in-state {
  display: flex;
  align-items: center;
  margin: 20px;
}

.log-in-out {
  position: relative;
}

.welcome-text {
  color: #000;
}

.verified-icon {
  margin-right: 2px;
}

.verifed-text {
  font-size: 0.7em;
  position: absolute;
  top: 25px;
  color: green;
}

.sign-out-btn {
  background: #3a3133;
  color: #fff;
  border: none;
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-left: 20px;
}

.sign-out-btn:hover {
  background: #000;
}

