form {
  display: flex;
  flex-direction: column;
  width: 33%;
  max-width: 300px;
  min-width: 200px;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: #fff;
  text-align: center;
  border: 1px lightblue solid;
  border-radius: 10px;
  margin: 0 auto;
}

.poll-title {
  background: lightsteelblue;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
}

h3 {
  text-align: center;
  margin-bottom: 20px;
}

.submit-btn {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.submit-btn:disabled {
  background: lightgray;
  color: gray;
}

.submit-btn:hover {
  background: lightgray;
}

.vote-warning-text {
  padding: 10px;
}

.thanks {
  margin-bottom: 20px;
}
