header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #cbccdb;
  justify-content: space-around;
  width: 100%;
}

h1 {
  font-family: 'Ubuntu', serif;
  font-weight: 800px;
  font-style: italic;
  color: #4d4d4d;
}

.logo-icon {
  color: #f7931a;
}

.signed-in-state {
  display: flex;
  align-items: center;
  margin: 20px;
}

.sign-in-btn {
  background: #3a3133;
  color: #fff;
  border: none;
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.sign-out-btn {
  background: #3a3133;
  color: #fff;
  border: none;
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-left: 20px;
}

.sign-in-btn:hover {
  background: #000;
}

.sign-in-btn-txt {
  margin-left: 5px;
}

.log-in-out {
  position: relative;
}

.welcome-text {
  color: #000;
}

.verified-icon {
  margin-right: 2px;
}

.verifed-text {
  font-size: 0.7em;
  position: absolute;
  top: 25px;
  color: green;
}
