header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #cbccdb;
  justify-content: space-around;
  width: 100%;
}

h1 {
  font-family: 'Ubuntu', serif;
  font-weight: 800px;
  font-style: italic;
  color: #4d4d4d;
  margin: 10px;
}

.logo-icon {
  color: #f7931a;
}
